/* colors
yellow:  #ffe81f
blue:  #11ddfa
red:  #f70018
 */

html {
    background-color: black;
    font-family: 'Russo One', sans-serif;
    color: #ffe81f;
    text-align: center;
    font-size: 24px;
}

/* temp borders to help me as I build the game out */
div {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.charContainer {
    display: inline-block;
}

.charImg {
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    height: 250px;
    width: 250px;
}

.lightSide {
    border-color: #11ddfa;
}

.lightSide:hover {
    border-color: #ffe81f;
    opacity: 0.8;
}

.lightSide:active {
    border-color: #11ddfa;
    opacity: 1;
    position: relative;
    top: 1px;
    left: 1px;
}

.darkSide, .darkSide:active {
    border-color: #f70018;
}

.darkSide:hover {
    border-color: #ffe81f;
    opacity: 0.8;
}

.darkSide:active {
    border-color: #f70018;
    opacity: 1;
    position: relative;
    top: 1px;
    left: 1px;
}

#topContainer, #bottomContainer {
    height: 400px;
}

#youArea, #enemyArea, #enemyStats {
    height: 100%;
    width: 20%;
    float: left;
}

#enemyStats {
    width: 23%;
}

#charSelect {
    height: 100%;
    width: 79%;
    float: left;
}

#waitingRoom {
    height: 100%;
    width: 55%;
    float:right;
}